/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.title__content {
  font-size: var(--font-size-desctop, 157px);
  color: var(--title-color);
  font-weight: 700;
}

.title-decor {
  background-color: var(--background-color-text);
  color: var(--text-color);
  font-size: var(--size-text, 18px);
  margin-block-end: 10px;
  font-weight: 700;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: var(--size-text, 18px);
  font-family: var(--family-text, monospace);
  background: var(--background-image) no-repeat center;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-size: cover;
  line-height: 23.4px;
  font-weight: 400;
}

.header {
  position: relative;
  width: 100%;
  min-height: 768px;
  height: 100vh;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu {
  padding-block-start: 20px;
}

.header__rec {
  position: absolute;
  color: var(--color-rec);
  text-transform: uppercase;
  top: 20px;
  right: 50px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-rec);
  background-color: var(--color-rec);
  top: 7px;
  right: 0;
  left: 45px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
  right: 20px;
  top: 20px;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: var(--size-text, 18px);
  text-transform: lowercase;
  color: var(--text-button);
  font-weight: 400;
  width: 70px;
  height: 26px;
  padding: 0 13px;
  line-height: 18px;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-main);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-main);
  pointer-events: none;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__title {
  padding-block-start: 270px;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 129.5px;
}

.header__text {
  align-self: flex-end;
  max-width: 491px;
  margin-block-start: 118px;
  margin-block-end: 134px;
  margin-inline-end: 20px;
}

@media (768px <= width < 1024px) {
  .header {
    min-height: 1024px;
  }
}

@media (375px <= width < 768px) {
  .header {
    min-height: 668px;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu-list {
    padding-block-start: 170px;
    padding-inline-end: 20px;
  }
}

@media (375px <= width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (375px <= width <768px) {
  .header__theme-menu-list {
    padding-block-start: 55px;
    margin-inline-end: 10px;
  }
}

@media (768px <= width <1024px) {
  .header__title {
    padding-block-start: 173px;
    line-height: 99px;
  }
}

@media (375px <= width <768px) {
  .header__title {
    padding-block-start: 65px;
    padding-inline-start: 10px;
    line-height: 95.7px;
    font-size: var(--font-size-mobile, 116px);
  }
}

@media (768px <= width < 1024px) {
  .header__text {
    max-width: 364px;
    margin-block-start: 163px;
    margin-block-end: 183px;
  }
}

@media (375px <= width < 768px) {
  .header__text {
    margin: 56px 10px;
  }
}

@media (375px <= width < 768px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

@media (375px <= width < 768px) {
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
}

@media (375px <= width < 768px) {
  .header__rec {
    right: 40px;
    top: 10px;
  }
}

/* MAIN */

.content {
  padding: 60px 20px 65px;
  color: var(--text-color-content);
}

.section__title {
  color: var(--section-color);
  font-size: var(--size-text);
  font-weight: 700;
}

.section {
  display: grid;
  grid-template-columns: 315px minmax(650px, 1fr);
  gap: 20px;
}

.section__list-item:not(:last-child) {
  padding-block-end: 20px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 3px 0 var(--link-shadow);
  cursor: pointer;
}

.content__link:hover {
  border-block-end: 1px solid var(--text-color-content);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color-content);
}

@media (768px <= width <1024px) {
  .section {
    grid-template-columns: 236px minmax(472px, 1fr);
  }
}

@media (375px <= width < 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}

@media (768px <= width < 1024px) {
  .content {
    padding-block-end: 58px;
  }
}

@media (375px <= width < 768px) {
  .content {
    padding: 40px 10px;
  }
}

.section__about {
  padding-block: 80px;
}

.about__title {
  padding-block-end: 20px;
  max-width: 315px;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (768px <= width < 1024px) {
  .about__title {
    max-width: 236px;
  }
}

@media (375px <= width < 1024px) {
  .about__list {
    display: flex;
    flex-direction: column;
  }
}

@media (375px <= width < 768px) {
  .section__about {
    padding-block: 50px;
  }
}

.lost__content {
  margin-block: 20px 10px;
  font-weight: 400;
}

.section__lost {
  padding-block-end: 80px;
}

@media (375px <= width < 768px) {
  .section__lost {
    padding-block-end: 48px;
  }
}

.title__image {
  margin-block-end: 20px;
}

.content__images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(315px, 1fr));
  grid-template-rows: 260px 315px 428px;
}

.image__card {
  object-fit: cover;
  object-position: top center;
  height: 100%;
  width: 100%;
}

.image__big {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.image__long {
  grid-column: 3 / 4;
  grid-row: -4 / -2;
}

.image__tall {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  object-fit: fill;
}

.image__base {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.image__wide {
  grid-column: 2 / 4;
  grid-row: -2 / -1;
}

@media (768px <= width < 1024px) {
  .content__images {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: 192px 230px 318px;
  }
}

@media (375px <= width < 768px) {
  .title__image {
    margin-block-end: 10px;
  }
}

@media (375px <= width < 768px) {
  .content__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (375px <= width < 768px) {
  .image__big {
    height: 142px;
  }
}

@media (375px <= width < 768px) {
  .image__long {
    height: 355px;
  }
}

@media (375px <= width < 768px) {
  .image__tall {
    height: 237px;
  }
}

@media (375px <= width < 768px) {
  .image__base {
    height: 355px;
  }
}

@media (375px <= width < 768px) {
  .image__wide {
    height: 237px;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  height: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
 /* margin-block-end: 40px; */
}

@media (768px <= width < 1024px) {
  .footer {
    min-height: 1024px;
  }
}

@media (375px <= width < 768px) {
  .footer {
    min-height: 667px;
    font-size: var(--font-size-mobile, 116px);
  }
}

@media (768px <= width < 1024px) {
  .footer__title {
    line-height: 99px;
  }
}

@media (375px <= width < 768px) {
  .footer__title {
    line-height: 95.7px;
  }
}
